* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #606C38; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo {
    width: 200px;       
    display: block;
    margin-left: auto;   
    margin-right: auto;  
    margin-bottom: 20px; 
}


.login-box {
    background-color: #DDA15E; 
    padding: 30px 35px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.login-title {
    text-align: center;
    color: white; 
    font-size: 24px;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 2px solid #BC6C25; 
    background-color: #FAF3E0; 
    font-size: 16px;
    outline: none;
}

.input-field:focus {
    border-color: #606C38;
}

.btn-login {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #BC6C25;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #A55A1E;
}

.error {
    display: none;
    background-color: #BC6C25;
    color: white;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    font-size: 14px;
    animation: fadeIn 0.4s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}
